<h2 class="yusei-magic">ログイン</h2>
<%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <div class="field">
    <%= f.label :email, 'メールアドレス', class: "yusei-magic-l ml-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password , 'パスワード', class: "yusei-magic-l ml-2" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>


    <%= f.submit "ログイン", class: "mt-5 tsbtn btn-1" %>


  <%= link_to "新規登録", new_user_registration_path, class: "tsbtn btn-4" %>
<% end %>


