<span class="yusei-magic-l pl-3 pt-3 mx-auto ">問題　</span>
<span class="yusei-magic">(作:</span>
<%= render 'public/users/quiz_author_icon' ,quiz: @quiz %>
<span class="yusei-magic"><%= @quiz.user.name %> さん<%= ', 管理者認証済' if @quiz.authenticated? %>)</span>
<div class="quiz-content mt-2">
  <%= safe_join(@quiz.content.split("\n"),tag(:br)) %>
  <% if @quiz.image.attached? %>
    <%= image_tag @quiz.image ,class: "quiz-content-image"%>
  <% end %>
</div>
<span class="yusei-magic-l pl-3 pt-3 mx-auto">回答欄</span>
<%= form_with model: @result, url: descriptive_quiz_results_path(@quiz), remote: true do |f| %>
  <%= f.text_field :answer, class: "form-control" %>
  <span class="result_answer-error"><%= render 'layouts/error_messages', obj: @result, column: :answer %></span>
  <%= f.hidden_field :quiz_type %>
  <%= f.hidden_field :quiz_id %>
  <%= f.submit '回答する', class: "mr-2 ml-auto mbtn btn-1" %>
<% end %>

<% if current_user.id == @quiz.user.id %>
  <%= link_to '編集', edit_descriptive_quiz_path(@quiz) %>
<% end %>
