<%= link_to 'クイズ一覧に戻る', admin_selection_quizzes_path %>
<h4 class="yusei-magic pl-3 pt-3 mx-auto">ステータス</h4>
  <%= form_with model: @quiz, url: admin_selection_quiz_path(@quiz) do |f| %>
    <span class="pl-4 yusei-magic">クイズステータス:<%= @quiz.status%></span>
    <%= f.select :status, [["未認証", "unauthenticated"], ["認証済み", "authenticated"], ["非公開", "unpublished"]]%>
    <%= f.submit '更新'%>
  <% end %>
<p class="pl-4 yusei-magic">作者ステータス: <%= @quiz.user.is_deleted %></p>
<h4 class="yusei-magic pl-3 pt-3 mx-auto">問題</h4>
<div class="quiz-content mb-3">
  <%= safe_join(@quiz.content.split("\n"),tag(:br)) %>
  <% if @quiz.image.attached? %>
    <%= image_tag @quiz.image ,class: "quiz-content-image mt-2"%>
  <% end %>
</div>
<% i = 0 %>
<% @quiz.choices.each do |choice| %>
  <div class="quiz-choice quiz-choice-<%= choice.is_answer%>">
    <%= choice.content %>
  </div>
<% end %>
<h4 class="yusei-magic pl-3 pt-3 mx-auto">解説</h4>
<div class="quiz-explanation">
  <%= text_url_to_link(h(safe_join(@quiz.explanation.split("\n"),tag(:br)))).html_safe %>
</div>

<% if current_user.id == @quiz.user.id || current_user.admin?%>
  <%= link_to '編集', edit_selection_quiz_path(@quiz) %>
<% end %>

