<h2 class="yusei-magic">アカウント新規登録</h2>
<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :name ,'名前', class: "yusei-magic-l ml-2"%>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
    <%= render 'layouts/error_messages', obj: @user, column: :name %>
  </div>

  <div class="field">
    <%= f.label :email ,'メールアドレス', class: "yusei-magic-l ml-2" %>
    <%= f.email_field :email, autocomplete: "email", class: "form-control"%>
    <%= render 'layouts/error_messages', obj: @user, column: :email %>
  </div>

  <div class="field">
    <%= f.label :password,'パスワード', class: "yusei-magic-l ml-2" %>
    <% if @minimum_password_length %>
      <span class="yusei-magic-l ml-2">(<%= @minimum_password_length %> 文字以上)</span>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
    <%= render 'layouts/error_messages', obj: @user, column: :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,'パスワード確認用', class: "yusei-magic-l ml-2" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"%>
    <%= render 'layouts/error_messages', obj: @user, column: :password_confirmation %>
  </div>

  <div class="actions d-flex" style="">
    <%= f.submit "新規登録", class: "mt-5 tsbtn btn-1" %>
  </div>
<% end %>

<%= link_to "ログイン", new_user_session_path, class: "tsbtn btn-4" %>
