<span class="yusei-magic-l pl-3 pt-3 mx-auto ">通知一覧</span>
<%= link_to '通知を既読にする', activities_read_path %>
<% if @activities.present? %>
  <table>
    <tbody>
      <% @activities.each do |activity| %>
      <tr>
      <td>
        <%= link_to transition_path(activity) do %>
          <%= render "public/activities/#{activity.action_type}", activity: activity%>
          <%= activity.read %>
        <% end %>
      </td></tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>通知はございません。</p>
<% end %>

<%= link_to activities_read_path %>