<%if result.content %>
  <span class="yusei-magic">正解です！！！</span>
<% else %>
  <span class="yusei-magic">不正解です！！！</span>
<% end %>
</br>
<span class="yusei-magic-l pl-3 pt-3 mx-auto ">問題　</span>
<span class="yusei-magic">(作:</span>
<%= render 'public/users/quiz_author_icon' ,quiz: quiz %>
<span class="yusei-magic"><%= quiz.user.name %> さん)</span>
<div class="quiz-content mb-3">
  <%= safe_join(quiz.content.split("\n"),tag(:br)) %>
</div>
<!--回答と解答の表示-->
<span class="yusei-magic-l pl-3 pt-3 mx-auto">選択肢　</span>
<span class="yusei-magic">(模範回答は1つ以上)</span>
<% i = 0 %>
<% quiz.choices.each do |choice| %>
  <div class="quiz-choice quiz-choice-<%= choice.is_answer%>">
    <%= check_box :answer, :aa ,{checked: result.to_answer_array(i), class: "mx-2 my-auto", disabled: true} %>
    <%= choice.content %>
    <% i += 1 %>
  </div>
<% end %>
<!--解説の表示-->
<span class="yusei-magic-l pl-3 pt-3 mx-auto">解説</span>
<div class="quiz-explanation">
  <%= text_url_to_link(h(safe_join(quiz.explanation.split("\n"),tag(:br)))).html_safe %>
</div>