<%= form_with model: @quiz, url: selection_quiz_path(@quiz), remote: true do |f| %>
<!--問題文の編集area-->
  <span class="yusei-magic-l pl-3 pt-3 mx-auto ">問題　</span>
  <span class="yusei-magic">(作:</span>
  <%= render 'public/users/quiz_author_icon' ,quiz: @quiz %>
  <span class="yusei-magic"><%= @quiz.user.name %> さん)</span>

  <%= f.text_area :content, class: "form-control quiz-content-textarea mt-2" %>
  <span class="quiz_content-error"><%= render 'layouts/error_messages', obj: @quiz, column: :content %></span>
<!--選択肢の編集エリア-->
  <span class="yusei-magic-l pl-3 pt-3 mx-auto">選択肢　</span>
  <span class="yusei-magic">(模範回答は1つ以上)</span>
  <% @choices.each do |choice| %>
    <%= f.fields_for choice do |i| %>
      <div class="d-flex choice_input">
        <%= i.hidden_field :choice_id ,name: "selection_quiz[choice_id][]",  :value => choice.id %>
        <%= i.check_box :is_answer ,{multiple: true, class: "mx-2 my-auto"} %>
        <%= i.text_field :content, name: "selection_quiz[choices][]", class: "form-control target m-1" ,:placeholder => "選択肢" %>
        <% if @quiz.user == current_user %>
          <%= link_to "×", selection_quiz_choice_path(@quiz, choice), method: :delete, class: "sbtn btn-light px-3 m-1"%>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= link_to '選択肢を追加', new_selection_quiz_choice_path(@quiz), class: "btn btn-light", remote: true %>
  <!--解説の編集エリア-->
  <h4 class="yusei-magic pl-3 pt-3">解説</h4>
  <%= f.text_area :explanation, class: "form-control quiz-explaination-textarea" %>
  <span class="quiz_explanation-error"><%= render 'layouts/error_messages', obj: @quiz, column: :explanation %></span>

  <%= f.submit '保存', class: "ml-auto mr-2 mbtn btn-1" %>
<% end %>
<div id="output"></div>




<div class="row">
  <div class="col-xl-3 col-lg-2 col-md-1"></div>
  <div class="col-xl-6 col-lg-8 col-md-10 quiz-area  background">

  </div>
  <div class="col-xl-3 col-lg-2 col-md-1"></div>
</div>



