<h1>Admin::Categories#index</h1>
<p>Find me in app/views/admin/categories/index.html.erb</p>

<%= form_with model: @category, url: admin_categories_path(), local:true do |f| %>
  <h4>カテゴリー入力</h4>
  <%= f.text_field :content %>
  <%= render 'layouts/error_messages', obj: @category, column: :content %>
  <%= f.submit '投稿' %>
<% end %>


<table>
  <thead>
    <th>カテゴリー名</th>
    <th></th>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.content %></td>
        <td><%= link_to "削除", admin_category_path(category), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
