<div class="dropdown text-right">
  <button class="dropdown-toggle btn-not" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-cog"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "退会", users_confirm_path, class: "dropdown-item"%>
  </div>
</div>

<h2 class="yusei-magic">プロフィール編集</h2>
<%= form_with model: @user, remote: true do |f| %>
  <%= f.label :name ,'名前', class: "yusei-magic-l ml-2"%>
  <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "名前", class: "form-control"%>
  <span class="user_name-error"><%= render 'layouts/error_messages', obj: @user, column: :content %></span>
  <%= f.label :profile_image ,'プロフィール画像:', class: "yusei-magic-l ml-2 mr-2 mt-4"%>
  <%= f.file_field :profile_image %>
  <%= f.submit "変更を保存", class: "mt-3 tsbtn btn-1"%>
<% end %>