<!DOCTYPE html>
<html>
  <head>
    <title>SomosanSeppa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="container">
    <%= render 'layouts/flash' %>
    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to 'マイページ', user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to 'クイズ新規作成', new_quiz_path %>
      </li>
      <li>
        <%= link_to 'クイズ一覧', quizzes_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
